<style>
    .vendor-image {
        width: 290px;
        height: 204px;
        object-fit: contain;
    }

</style>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img class="vendor-image" src="~/images/ikea.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="~/images/columbia.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="~/images/lacoste.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="~/images/nike.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="~/images/hummel.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-image" src="~/images/koctas.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>